@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

$font-family: 'Shantell Sans', cursive;

$small-size: 12px;
$medium-size: 24px;
$large-size: 36px;
$x-large-size: 48px;
$xx-large-size: 96px;
